@font-face {
  font-family: "Gotham Rounded Medium";
  src: url("../fonts/GothamRounded-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.woff2") format("woff2");
}

#fisk-component {
  margin: 0;
  font-family: "Gotham Rounded Medium", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white; /* Set the background color to white */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

#fisk-component #chartContainer {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  padding-left: 70px;
}

#fisk-component #cameraPosition {
  position: absolute;
  top: 50px;
  left: 10px;
  display: none;
}

#fisk-component #dd {
  position: absolute;
  top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#fisk-component #options {
  position: absolute;
  top: 180px;
  left: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

#fisk-component #threedee {
  position: absolute;
  bottom: 60px;
  display: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 50px;
  z-index: 999999;
}

#fisk-component .navItemHolder {
  gap: 10px;
}

#info {
  position: absolute;
  top: 20px;
  left: 20px;
}

#fisk-component #label {
  position: absolute;
  padding: 14px;
  background-color: #ccc;
}

#fisk-component .cube-label {
  font-family: "Gotham Rounded Medium", sans-serif;
  position: absolute;
  background-color: #d5d5d5;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 9px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#fisk-component .cube-label {
  transition: transform 0.3s ease;
}

#fisk-component .cube-label:hover {
  z-index: 999;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 8px;
  transform: scale(1.2); /* Adjust scale factor as needed */
}

#fisk-component .font-base {
  font-weight: 400;
  font-family: "Gotham Book";
}

#fisk-component .content {
  cursor: pointer;
}

#fisk-component .center-text {
  text-align: center;
}

#fisk-component .click {
  margin-top: 10px;
  color: #d87520;
}

#fisk-component .form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 120px;
}

#fisk-component .performanceGroup {
  display: flex;
}

#fisk-component .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#fisk-component label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 12px;
}

#fisk-component select {
  background-color: white;
  border: thin solid gray;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.37em 3.5em 0.37em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fisk-component select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  margin-bottom: 0.5rem;
}

#fisk-component select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* radio buttons */

#fisk-component .form-group-filters {
  display: flex;
  margin-top: 8px;
}

#fisk-component .custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  width: 80px; /* Adjusted width */
  height: 39px; /* Adjusted height */
  background: #eee;
  border-radius: 4px; /* Added border-radius */
}

#fisk-component .custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#fisk-component .custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

#fisk-component .custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

#fisk-component .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#fisk-component .custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

#fisk-component .custom-checkbox input:checked ~ .checkmark:after {
  display: block;
  background-color: black; /* Added background color */
  border-radius: 50%; /* Added border radius */
}

#fisk-component .custom-checkbox .checkmark:after {
  left: 9px;
  top: 15px;
  width: 10px; /* Adjusted width */
  height: 10px; /* Adjusted height */
  border: none; /* Removed border */
}

#fisk-component .flex-life {
  background-color: #bece71;
}

#fisk-component .soft-resistance {
  background-color: #697ba6;
}

#fisk-component .stress-relaxation {
  background-color: #bece71;
}

#fisk-component .spring-properties {
  background-color: #6cb2c4;
}

#fisk-component .formability {
  background-color: #cfc250;
}

#fisk-component .custom-radio {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  width: 80px; /* Adjusted width */
  height: 39px; /* Adjusted height */
  background: #cb792d;
  border-radius: 4px; /* Added border-radius */
}
#fisk-component .custom-radio.toggle-conductors {
  background: #aa934d;
}
#fisk-component .custom-radio.toggle-wire {
  background: #133153;
}
#fisk-component .custom-radio.toggle-fine-wire {
  background: #44827d;
}

#fisk-component .custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#fisk-component .custom-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

#fisk-component .custom-radio input:checked ~ .checkmark {
  background-color: #2196f3;
}

#fisk-component .checkmark:after {
  content: "";
  position: absolute;
  display: block; /* Change this to block */
  background-color: white; /* Change this to white */
  border-radius: 50%; /* Added border radius */
  left: 9px;
  top: 15px;
  width: 10px; /* Adjusted width */
  height: 10px; /* Adjusted height */
  border: none; /* Removed border */
}

#fisk-component .custom-radio input:checked ~ .checkmark:after {
  display: block;
}

#fisk-component .custom-radio input:checked ~ .checkmark:after {
  display: block;
  background-color: black; /* Added background color */
  border-radius: 50%; /* Added border radius */
}

#fisk-component .custom-radio .checkmark:after {
  left: 9px;
  top: 15px;
  width: 10px; /* Adjusted width */
  height: 10px; /* Adjusted height */
  border: none; /* Removed border */
}

#fisk-component .disabled {
  pointer-events: none;
  /* opacity: 0.4; */
}

#fisk-component .disabled .custom-checkbox {
  background-color: #e3e3e3;
}

#fisk-component .unit-radio-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

#fisk-component .unit-radio-buttons .custom-radio {
  background: #fff;
  border: 1px solid #000;
}

#fisk-component .unit {
  cursor: pointer;
  color: black;
  font-size: 12px;
}

#fisk-component .unit.active,
#fisk-component label.active {
  color: #ca792d;
}

#fisk-component .units {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: 100px;
}
#fisk-component .labels {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-direction: row;
}
#fisk-component .loader-container {
  display: none;
  position: absolute; /* Use fixed instead of absolute to center on the page */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the element */
  display: flex;
  align-items: center; /* Vertically aligns the loader and the text */
  justify-content: center; /* Horizontally aligns the loader and the text */
  gap: 10px; /* Adds some space between the loader and the text */
}

#fisk-component .loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ca792d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#fisk-component .disable-click {
  pointer-events: none;
}

#fisk-component .header {
  font-size: 22px;
  margin-bottom: 15px;
}
