@font-face {
  font-family: "Gotham Rounded Medium";
  src: url("GothamRounded-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham Book";
  src: url("/Users/Gotham-Book.woff2") format("woff2");
}

body {
  margin: 0;
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important; */
  font-family: "Gotham Rounded Medium", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white; /* Set the background color to white */
}

#cameraPosition {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

#info {
  position: absolute;
  top: 20px;
  left: 20px;
}

#label {
  position: absolute;
  padding: 14px;
  background-color: #ccc;
}

.cube-label {
  position: absolute;
  background-color: #d5d5d5;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  /* Add any other styles you want */
}

.cube-label {
  /* Other styles... */
  transition: transform 0.3s ease;
}

.cube-label:hover {
  transform: scale(1.2); /* Adjust scale factor as needed */
}

.content {
  cursor: none;
}
