@font-face {
  font-family: "Gotham Rounded Medium";
  src: url("GothamRounded-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham Book";
  src: url("Gotham-Book.woff2") format("woff2");
}

body {
  margin: 0;
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important; */
  font-family: "Gotham Rounded Medium", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white; /* Set the background color to white */
}

#cameraPosition {
  position: absolute;
  top: 10px;
  left: 10px;
}

#dd {
  position: absolute;
  top: 110px;
  left: 10px;
}

#info {
  position: absolute;
  top: 20px;
  left: 20px;
}

#label {
  position: absolute;
  padding: 14px;
  background-color: #ccc;
}

.cube-label {
  position: absolute;
  background-color: #d5d5d5;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 11px;
  /* Add any other styles you want */
}

.cube-label {
  /* Other styles... */
  transition: transform 0.3s ease;
}

.cube-label:hover {
  transform: scale(1.2); /* Adjust scale factor as needed */
}

.cube-label .initial-content {
  max-width: 100px; /* Adjust as needed */
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.font-base {
  font-weight: 400;
  font-family: "Gotham Book";
}

.content {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.click {
  margin-top: 10px;
  color: #007bff;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

/* .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
} */

select {
  /* styling */
  background-color: white;
  border: thin solid gray;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.classic {
  /* background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat; */
}

select.classic:focus {
  /* background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0; */
}

select.round {
  /* background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat; */
}

select.round:focus {
  /* background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0; */
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  /* background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0; */
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
